[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
numpy = "*"
matplotlib = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.8"

[packages.5fbe1dc]
file = "https://github.com/matplotlib/basemap/archive/master.zip"
