[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
numpy = "*"
matplotlib = "*"
Pillow = "*"
pycairo = "*"
PyGObject = "*"
imageio = "*"
gps = "*"
pynmea2 = "*"
serial = "*"

[dev-packages]

[requires]
python_version = "3.8"
